[Unit]
Description = External USB stick storage

[Mount]
What = LABEL=V
Where = /mnt/storage
Type = fat
Options = rw,relatime,data=ordered

[Install]
WantedBy = multi-user.target