[Unit]
Description = External USB stick storage

[Mount]
What = LABEL=V
Where = /mnt/storage
Type = vfat
Options = rw

[Install]
WantedBy = multi-user.target